html{
    overflow-x:hidden;
    
    }
  
  
  
  /*corpo*/
  body {
      width: 1000px;
      margin: 1px auto;
      background-color: #1C1C1C;
      padding: 0 20px 180px 20px;
      border: 7px solid #ea00ff;
    }


    h5{font-size: 20px;
color:#ffffff;

    }
  
  
  
  /*Titulo*/
   
.peça {font: 30px arial, sans-serif;
margin: 30;
padding: 40px 0;
color: #ea00ff;
text-shadow: 2px 2px 1px rgb(0, 0, 0); }


h5{color: #d3c7d4;}



  h1 {
      font: 110px arial, sans-serif, impact;
      margin: 30;
      padding: 40px 0;
      color: #ea00ff;
      text-shadow: 2px 2px 1px rgb(0, 0, 0); }
  
      /*subtitulo*/
  
      h2 {
          font: 30px arial, sans-serif;
          margin: 30;
          padding: 40px 0;
          color: #ffffff;
          text-shadow: 2px 2px 1px rgb(0, 0, 0);
        font-weight: bold; }
   .preco{
    font: 30px arial, sans-serif;
    margin: 30;
    padding: 40px 0;
    color: #11cc00;
    text-shadow: 2px 2px 1px rgb(0, 0, 0); }

#total{color: #11cc00;
  font-size: 70px;

}

.link{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #11cc00;

}   


.pesquisa{color: #ffffff;}

  
  
  /* botões topo*/
  
  :root {
    --cor-primaria-placa: #ea00ff;
    --cor-hover-placa: #000000;
    --cor-secundaria-placa: #000000;
    
    --cor-primaria-processador: #ea00ff;
    --cor-hover-processador: #000000;
    --cor-secundaria-processador: #000000;
  
    --cor-primaria-video: #ea00ff;
    --cor-hover-video: #000000;
    --cor-secundaria-video: #000000;
  
    --cor-primaria-memoria: #ea00ff;
    --cor-hover-memoria: #000000;
    --cor-secundaria-memoria: #000000;

    --cor-primaria-armazenamento: #ea00ff;
    --cor-hover-armazenamento: #000000;
    --cor-secundaria-armazenamento: #000000;
  
    --cor-primaria-fonte: #ea00ff;
    --cor-hover-fonte: #000000;
    --cor-secundaria-fonte: #000000;

    --cor-primaria-cooler: #ea00ff;
    --cor-hover-cooler: #000000;
    --cor-secundaria-cooler: #000000;

    --cor-primaria-gabinete: #ea00ff;
    --cor-hover-gabinete: #000000;
    --cor-secundaria-gabinete: #000000;

    --cor-primaria-pesquisa: #ea00ff;
    --cor-hover-pesquisa: #000000;
    --cor-secundaria-pesquisa: #000000;
  }
  
  .btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
  }
  
  /*placa*/
  .btn-placa {
    background-color: var(--cor-primaria-placa);
    outline: none;
    color: var(--cor-secundaria-placa)
  }
  
  .btn-placa:hover {
    background-color: var(--cor-hover-placa);
  }
  
  .btn-placa:active {
    color:var(--cor-primaria-success);
    background-color: var(--cor-secundaria-placa);
  }
  
  /*processador*/
  .btn-processador {
    background-color: var(--cor-primaria-processador);
    outline: none;
    color: var(--cor-secundaria-processador)
  }
  
  .btn-processador:hover {
    background-color: var(--cor-hover-processador);
  }
  
  .btn-processador:active {
    color:var(--cor-primaria-processador);
    background-color: var(--cor-secundaria-processador);
  }
  
  /*video*/
  .btn-video {
    background-color: var(--cor-primaria-video);
    outline: none;
    color: var(--cor-secundaria-video)
  }
  
  .btn-video:hover {
    background-color: var(--cor-hover-video);
  }
  
  .btn-video:active {
    color:var(--cor-primaria-video);
    background-color: var(--cor-secundaria-video);
  }
  
   /* memoria*/
  
   .btn-memoria {
    background-color: var(--cor-primaria-memoria);
    outline: none;
    color: var(--cor-secundaria-memoria)
  }
  
  .btn-memoria:hover {
    background-color: var(--cor-hover-memoria);
  }
  
  .btn-memoria:active {
    color:var(--cor-primaria-memoria);
    background-color: var(--cor-secundaria-memoria);
  }

  /* armazenamento*/
  
  .btn-armazenamento {
    background-color: var(--cor-primaria-armazenamento);
    outline: none;
    color: var(--cor-secundaria-armazenamento)
  }
  
  .btn-armazenamento:hover {
    background-color: var(--cor-hover-armazenamento);
  }
  
  .btn-armazenamento:active {
    color:var(--cor-primaria-armazenamento);
    background-color: var(--cor-secundaria-armazenamento);
  }


   /* fonte*/
  
   .btn-fonte {
    background-color: var(--cor-primaria-fonte);
    outline: none;
    color: var(--cor-secundaria-fonte)
  }
  
  .btn-fonte:hover {
    background-color: var(--cor-hover-fonte);
  }
  
  .btn-fonte:active {
    color:var(--cor-primaria-fonte);
    background-color: var(--cor-secundaria-fonte);
  }

  /* cooler*/
  
  .btn-cooler {
    background-color: var(--cor-primaria-cooler);
    outline: none;
    color: var(--cor-secundaria-cooler)
  }
  
  .btn-cooler:hover {
    background-color: var(--cor-hover-cooler);
  }
  
  .btn-cooler:active {
    color:var(--cor-primaria-cooler);
    background-color: var(--cor-secundaria-cooler);
  }


   /* gabinete*/
  
   .btn-gabinete {
    background-color: var(--cor-primaria-gabinete);
    outline: none;
    color: var(--cor-secundaria-gabinete)
  }
  
  .btn-gabinete:hover {
    background-color: var(--cor-hover-gabinete);
  }
  
  .btn-gabinete:active {
    color:var(--cor-primaria-gabinete);
    background-color: var(--cor-secundaria-gabinete);
  }

  /* pesquisa*/
  
  .btn-pesquisa {
    background-color: var(--cor-primaria-pesquisa);
    outline: none;
    color: var(--cor-secundaria-pesquisa)
  }
  
  .btn-pesquisa:hover {
    background-color: var(--cor-hover-pesquisa);
  }
  
  .btn-pesquisa:active {
    color:var(--cor-primaria-pesquisa);
    background-color: var(--cor-secundaria-pesquisa);
  }